{$DOMAIN} www.{$DOMAIN} {
	encode gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /uploads/* {
		reverse_proxy backend:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
